@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.navbar-brand, h1, h2, h3, h4 {
    font-family: 'Noto Sans KR';
    font-weight: 500;
}

h5 {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
}

body {
    font-family: 'Nanum Gothic';
}